{% macro render_pagination(pagination, endpoint) %}
  <div class="text-center">
    <ul class="pagination pagination-sm">

        {% if pagination.has_prev %}
        <li><a href="{{ url_for(endpoint, page=pagination.prev_num) }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><a href="{{ url_for(endpoint, page=pagination.next_num) }}">&laquo;</a></li>
        {% endif %}

        {% for page in pagination.iter_pages() %}
          {% if page %}
            {% if page != pagination.page %}
              <li><a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a></li>
            {% else %}
              <li>
                <a class="active" href="">{{ page }} <span class="sr-only">(current)</span></a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}

        {% if pagination.has_next %}
        <li><a href="{{ url_for(endpoint, page=pagination.next_num) }}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><a href="{{ url_for(endpoint, page=page) }}">&raquo;</a></li>
        {% endif %}

    </ul>
  </div>
{% endmacro %}

{% macro render_post(page) %}
<section id="posts" class="one">
    <div class="container">

        <header>
            <a href="{{ url_for('page', path=page.path) }}"><h2 style="display: inline;">{{ page.title }}</h2></a>

        {% if 'category' in page.meta.keys() %}
            <span style="padding-top: 10px;" class="pull-right">Posted under: <a href="{{ url_for('category', name=page.meta['category']) }}">{{ page.meta['category'] }}</a></span>
        {% endif %}
        </header>

        Posted by <a href="{{ url_for('about') }}">Jordan Moeser</a> on {{moment_js(page.date).format('LLLL')}} - <em>{{moment_js(page.date).fromNow()}}</em>
        {% if 'tags' in page.meta.keys() %}
            <span class="pull-right">Tagged: {% for i in page.meta['tags'].split(', ') %}<a href="{{ url_for('tag_name', name=i) }}">{{ i }}</a>{% if i != page.meta['tags'].split(', ')[-1] %}, {% endif %}{% endfor%}</span>
        {% endif %}

        <p>{{ page }}</p>


    </div>
</section>
{% endmacro %}
