{% extends "base.html" %}

{% block title %}Defestri - {{ tag.name }}{% endblock %}
{% block header %} - Tags{% endblock %}

{% block content %}
    <div class="panel panel-default panel-shadow">
        <div class="panel-body">
<h3 class="text-center">Posts tagged '{{ tag.name }}'</h3>
{% for i in tag.posts %}
<p>
    <h3><a href="{{ url_for('page', path='/{}'.format(i.path)) }}">{{ i.title }}</a></h3>Posted on: {{moment_js(i.date).format('LLLL')}}
</p>
{% endfor %}
</div>
</div>
{% endblock %}
