body {
    padding-top: 50px;
    padding-bottom: 40px;
    /* 錆浅葱 */
    background-color: #6699A1;
}

body, html {
    height: 100%;
}

.container {
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    /*margin-left: 10px;
    margin-right: 0px; */

}

.bg-white {
    background-color: white;
}

.nav-stacked a {
    color: white;
}

.right-column {
    color: white;
}

.header {
    color: white;
}

footer {
    color: white;
}

footer a {
    color: white;
    text-decoration: underline;
}

.post-divider {
    /* 新橋 */
    border: 1px solid #0089A7;
    width: 90%;
}

pre {
    background-color: #FAFAFA;
}

/* maybe remove this */
.hr {
    /* 籐黄 */
    border: 1px solid #FFC408;
    width: 50%;
}

.pagination li a {
    /* 錆浅葱 */
    background-color: #6699A1;
}

.pagination .disabled a {
    /* 深川鼠 */
    background-color: #77969A;
}

.pagination .disabled a:hover {
    /* 深川鼠 */
    background-color: #77969A;
}

.pagination li .active {
    /* 白群 */
    background-color: #78C2C4;
}

.navbar-default {
    width: 200px;
    min-height: 50px;
    height: 50px;
}
