body {
    padding-top: 60px;
    padding-bottom: 40px;
    /* 錆浅葱 */
    background-color: #6699A1;
}

body, html {
    height: 100%;
}

.container {
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    /*margin-left: 10px;
    margin-right: 0px; */

}

.bg-white {
    background-color: #fff;
}

.nav-stacked a {
    color: white;
}

.right-column {
    color: white;
/*    border-style: solid;
    border-width: 1px;
    border-color: black;
    -webkit-box-shadow: 4px 4px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 4px 3px rgba(50, 50, 50, 0.75);
    box-shadow:         4px 4px 3px rgba(50, 50, 50, 0.75); */
}

.header {
    color: white;
}

footer {
    color: white;
}

footer a {
    color: white;
    text-decoration: underline;
}

.post-divider {
    /* 新橋 */
    border: 1px solid #0089A7;
    width: 90%;
}

/* background of the code blocks irc */
pre {
    background-color: #FAFAFA;
}

/* maybe remove this */
.hr {
    /* 籐黄 */
    border: 1px solid #FFC408;
    width: 50%;
}

.pagination li a {
    /* 錆浅葱 */
    background-color: #6699A1;
}

.pagination .disabled a {
    /* 深川鼠 */
    background-color: #77969A;
}

.pagination .disabled a:hover {
    /* 深川鼠 */
    background-color: #77969A;
}

.pagination li .active {
    /* 白群 */
    background-color: #78C2C4;
}

.navbar-default {
    width: 500px;
    min-height: 50px;
    height: 50px;
    -moz-border-radius-bottomright: 50px;
    border-bottom-right-radius: 50px;
    background-color: #6699A1;
    -webkit-box-shadow: 4px 4px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 4px 3px rgba(50, 50, 50, 0.75);
    box-shadow:         4px 4px 3px rgba(50, 50, 50, 0.75);
}

/*.post-header {
    /* If the page has a scroll bar or the side bar won't fit
    (ie smaller screen) then this width is wonky
    margin: 0;
    border: 0;
    padding: 0;
    display: block;
    position: relative;
    width: 100%;
    /*width: 103.1%;
    position:relative;
    left:-1.5%;
} */

.post-header .panel-heading {
    background-color: #FDFBFF;
}

.panel-shadow {
    -webkit-box-shadow: 4px 4px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 4px 3px rgba(50, 50, 50, 0.75);
    box-shadow:         4px 4px 3px rgba(50, 50, 50, 0.75);
}
