<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="https://github.com/ardinor">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css">
    {% endassets %}
    <link rel="stylesheet" href="{{ url_for('pygments_css') }}">
    {% assets "js_moment" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </head>
  <body>
    <div class="container">
      <noscript>
        <div class="alert alert-danger text-center">
          This site uses some Javascript, please enable Javascript.
        </div>
      </noscript>
      <div class="row">
        <div class="col-lg-4 col-lg-offset-3 text-center header">
            <h4><em>Defestri {% block header %}{% endblock %}</em></h4>
        </div>
      </div>
      <div class="row">

        <div class="col-lg-10 bg-white">

          {% block content %}{% endblock %}

        </div>
        <div class="col-lg-2 text-center right-column">

          <ul class="nav nav-pills nav-stacked">
            <li class="active" id="home_tab">
              <a href="{{ url_for('home') }}"><h4>Defestri</h4></a>
            </li>
            <li id="about_tab">
              <a href="{{ url_for('about') }}">About</a>
            </li>
            <li id="posts_tab">
              <a href="{{ url_for('posts') }}">Posts</a>
            </li>
            <li id="categories_tab">
              <a href="{{ url_for('categories') }}">Categories</a>
            </li>
            <li id="archive_tab">
              <a href="{{ url_for('archive') }}">Archive</a>
            </li>
            <li>
              <a href="https://github.com/ardinor"><img alt="Link to my Github" title="My Github" src="/static/img/GitHub-Mark-32px.png"/></a>
            </li>
            <p style="padding-top: 30px;"><em>Small on content, big on Lorem impsum!</em></p>
          </ul>
        </div>
      </div>

      <hr>
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Built using <a href="https://github.com/ardinor/mojibake-flat">MØjibДĸe-Flat</a> and <a href="http://flask.pocoo.org">Flask</a><span class="pull-right">MMXIII</span></p>
          </div>
        </div>
      </footer>
    </div>
    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </body>
</html>
