{% extends "base.html" %}

{% block title %}Defestri{% endblock %}

{% block content %}
<h1 class="text-center">Defestri</h1>
{% for page in pages %}
    <a href="{{ page.path }}">
        <h2>{{ page.title }}</h2>
    </a>
    Posted on: {{moment_js(page.date).format('LLLL')}} - <em>{{moment_js(page.date).fromNow()}} ago.</em>
    {% if 'category' in page.meta.keys() %}
        <span class="pull-right">{% for i in page.meta['category'].split(', ') %}<a href="/categories/{{ i }}">{{ i }}</a>{% if i != page.meta['category'].split(', ')[-1] %}, {% endif %}{% endfor%}</span>
    {% endif %}
    <p>
        {{ page }}
    </p>
    {% if pages[-1] != page %}
        <hr class="post-divider">
    {% endif %}
{% endfor %}

{% endblock %}
