{% from '_macros.html' import render_pagination %}

{% extends "base.html" %}

{% block title %}Defestri - Posts{% endblock %}
{% block header %} - Posts{% endblock %}

{% block content %}
{% for page in pages %}
    <p>
        <a href="{{ url_for('page', path=page.path)  }}">
        {# {{ page.path.replace('posts/', '', 1) }} #}
            <h3 style="display: inline;">{{ page.title }}</h3>
        </a>
        {% if 'category' in page.meta.keys() %}
        <span style="padding-top: 5px;" class="pull-right">Posted under: <a href="{{ url_for('category', name=page.meta['category']) }}">{{ page.meta['category'] }}</a></span>
        {% endif %}
    </p>

    {{moment_js(page.date).format('LLLL')}} - <em>{{moment_js(page.date).fromNow()}} ago.</em>
    {% if 'tags' in page.meta.keys() %}
        <span class="pull-right">Tagged: {% for i in page.meta['tags'].split(', ') %}<a href="{{ url_for('tag_name', name=i) }}">{{ i }}</a>{% if i != page.meta['tags'].split(', ')[-1] %}, {% endif %}{% endfor%}</span>
    {% endif %}
    <p>
        {{ page }}
    </p>
    {% if pages[-1] != page %}
        <hr class="post-divider">
    {% endif %}
{% endfor %}
{% if pagination_item.has_next or pagination_item.has_prev %}
{{ render_pagination(pagination=pagination_item, endpoint='posts') }}
{% endif %}

{% endblock %}
