{% extends "base.html" %}

{% block title %}Defestri - Posts{% endblock %}

{% block content %}
<h1 class="text-center">Posts</h1>
{% for page in pages %}
    <a href="{{ page.path.replace('posts/', '', 1) }}">
        <h2>{{ page.title }}</h2>
    </a>
    Posted on: {{moment_js(page.date).format('LLLL')}} - <em>{{moment_js(page.date).fromNow()}} ago.</em>
    <p>
        {{ page }}
    </p>
    {% if pages[-1] != page %}
        <hr class="post-divider">
    {% endif %}
{% endfor %}

{% endblock %}
