{% extends "base.html" %}

{% block title %}Defestri - Posts{% endblock %}
{% block header %} - Posts{% endblock %}

{% block content %}
{% for page in pages %}
    <a href="{{ url_for('page', path=page.path)  }}">
        {# {{ page.path.replace('posts/', '', 1) }} #}
        <h3>{{ page.title }}</h3>
    </a>
    {{moment_js(page.date).format('LLLL')}} - <em>{{moment_js(page.date).fromNow()}} ago.</em>
    {% if 'category' in page.meta.keys() %}
        <span class="pull-right">Tagged: {% for i in page.meta['category'].split(', ') %}<a href="{{ url_for('category_name', name=i) }}">{{ i }}</a>{% if i != page.meta['category'].split(', ')[-1] %}, {% endif %}{% endfor%}</span>
    {% endif %}
    {% if page.html|length > 3000 %}
    <p>
        {{ page.html|truncate(3000)|safe }}
    </p>
    <p>
        <a href="{{ url_for('page', path=page.path)  }}">Read more...</a>
    </p>
    {% else %}
    <p>
        {{ page }}
    </p>
    {% endif %}
    {% if pages[-1] != page %}
        <hr class="post-divider">
    {% endif %}
{% endfor %}

{% endblock %}
